<div id="directory">
    <img src="/public/Bp.png" alt="Logo">
    <h3>FE3N</h3>
    <a href="/viewer?file=fe3n_swap-basics">B2200 Swap Basics</a>
    <a href="/viewer?file=fe3n_CPS-Sensor">CPS mounting</a>
    <a href="/selector?fldr=fe3n_Wiring-Diagrams">Wiring Diagrams</a>
    <a>Fueling</a>
    <a>Hot Side</a>
    <a>Cold Side</a>
    <a href="/selector?fldr=fe3n_Manuals">Manuals</a>
    <a href="/viewer?file=fe3n_FE3N-Motor-Manual">FE3N Motor Manual</a>

</div>
    <style>
        #directory {
            width: 10%;
            background-color: rgba(120, 120, 120, 0.7);
            border-radius: 10px;
            display: flex;
            padding: 5px;
            flex-direction: column;
        }
        #directory a {
            text-align: center;
            padding: 5px;
        }
    </style>